body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1,
h2 {
  text-align: center;
}
.spaceship{
  background-image: url("../img/spaceshipIcon.png");
  background-size: contain;
  position: absolute;
  width: 96px;
  height: 96px;
}
.alienship{
  background-image: url("../img/alienship.svg");
  background-size: contain;
  width: 96px;
  height: 96px;
  background-color: blue;
  position: absolute;
}
#ship-health{
  margin: 0;
  float: left;
}
#ship-powerups{
  float: right;
  margin: 0;
  background-color: white;
  height: 18px;
}
.health{
  background-image: url("../img/favicon.ico");
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0;
}
.airbrake{
  background-image: url("../img/coffee.png");
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0;
}
#controls-column{
  width: 19%;
  display: inline-block;
  float: left;
}
#game-frame{
  width: 60%;
  height: 450px;
  display: inline-block;
}
#game-window{
  height: 400px;
  background-image: url("../img/tmpback.jpg");
}
#hiscore-column{
  width: 19%;
  display: inline-block;
  float: right;
}
.collide {
  background-color: red;
}
