body {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* ask nicely and I might just organize this =) */
h1,
h2 {
  text-align: center;
}
.spaceship{
  background-image: url("../img/spaceship.png");
  background-size: contain;
  position: absolute;
  width: 32px;
  height: 32px;
}
.alienship{
  background-image: url("../img/alienship.svg");
  background-size: contain;
  width: 96px;
  height: 96px;
  background-color: blue;
  position: absolute;
}
.asteroid{
  background-image: url("../img/asteroid.png");
  background-size: contain;
  width: 48px;
  height: 48px;
  position: absolute;
}
.bullet{
  background-image: url("../img/whiteBullet.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
}
#ship-health{
  margin: 0;
  float: left;
}
#ship-powerups{
  float: right;
  margin: 0;
  background-color: white;
  height: 18px;
}
.health{
  background-image: url("../img/favicon.ico");
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0;
}
.airbrake{
  background-image: url("../img/coffee.png");
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0;
}
.invincible {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% { opacity: 0.0; }
}
#controls-column{
  width: 18%;
  display: inline-block;
  float: left;
  padding: 5px;
}
#game-frame{
  width: 60%;
  height: 650px;
  display: inline-block;
}
#game-window{
  height: 600px;
  background-image: url("../img/tmpback.jpg");
}
#hiscore-column{
  width: 18%;
  display: inline-block;
  float: right;
}
                                              .collide {
                                                background-color: red;
                                              }
